@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

body {
    width: 901px; 
    margin: 0 auto;
    padding: 3rem 10rem 0 10rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    background-color: rgb(240, 239, 236);
    text-align: center;
}

header {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    align-content: center;
    text-align: left;
}

header figure img {
    width: 42px;
    margin-right: 5px;
}

#logoGroup {
    width: fit-content;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

h2{ 
    width: fit-content;
    margin-bottom: .2rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-align: left;
}

h4 {
    font-size: .6rem;
    color: grey;
}

header #socials {
    margin-right: 10px;
}

header ul {
    width: 290px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header li {
    display: inline;
}

#sectionHeading {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 1rem 0 1rem 0;
    text-align: left;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

p {
    font-size: .8rem;
    color: grey;
}

#sectionHeading p {
    text-transform: uppercase;
}
div#print {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
}

section p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-top: 20px;
    text-align: left;
    text-indent: 2rem;
}

.recipe {
    background-image: url("../imgs/list-bg.png");
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

.recipe label {
   /*  display: inline-block; */
}

.recipe .col1 {
    
    width: fit-content;
    width: 300px;
}


.recipe .col2 {
   
    width: fit-content;
    width: 300px;
}

label .decor1 {
    text-decoration: solid;
}

footer {
    text-align: left;
}

#copy {
    text-align: center;
}