@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

body {
    width: 901px; 
    margin: 0 auto;
    padding: 3rem 10rem 0 10rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: rgb(240, 239, 236);
    text-align: center;
}

header {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    align-content: center;
    text-align: left;
}

header figure img {
    width: 47px;
    height: 50px;
    margin-right: 5px;
}

#logoGroup {
    width: fit-content;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

h2{ 
    width: fit-content;
    
    font-family: 'Yellowtail';
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-align: left;
}

#logoGroup h2 {
    margin-top: 15px;
}

h4 {
    font-size: .6rem;
    color: grey;
}
header nav {
    height: fit-content;
    position: relative;
    top: 26px;
}

header #socials {
    margin-right: 10px;
}

header ul {
    width: 290px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

hr {
    background-image: url('/imgs/hr-img.png');
    margin: 0 auto;
    border: hidden;
    height: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

header li {
    display: inline;
}

#sectionHeading {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 1rem 0 1rem 0;
    text-align: left;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

p {
    font-size: .8rem;
    color: grey;
}

#sectionHeading p {
    text-transform: uppercase;
}
div#print {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
}

article {
    padding: .3rem 0 0 0;
}

article img{
    margin-bottom: 1rem;
}

section.text p {
    text-align: left;
    padding-bottom: .5rem;
}

#recipe {
    columns: 2;
    background-image: url("../imgs/list-bg.png");
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
}

#recipe * {
    margin: 0 auto;
}

#recipe label {
    text-align: left;
    width: 275px;
    height: 10px;
    display: block;
    padding: .5rem 0 .5rem 0;
    font-family: 'Yellowtail';
    font-size: medium;
    color: goldenrod;
}

footer {
    text-align: left;
}

#copy {
    text-align: center;
}